<a href="https://colab.research.google.com/github/jeeet0700/Python_Advance/blob/main/Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv("/content/drive/MyDrive/May_Beginner_Aug_Adv/Pandas-2/gapminder.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [4]:
df.sort_values(["year"])

                 country  year  population continent  life_exp       gdp_cap
0            Afghanistan  1952     8425333      Asia    28.801    779.445314
528               France  1952    42459667    Europe    67.410   7029.809327
540                Gabon  1952      420702    Africa    37.003   4293.476475
1656  West Bank and Gaza  1952     1030585      Asia    43.160   1515.592329
552               Gambia  1952      284320    Africa    30.000    485.230659
...                  ...   ...         ...       ...       ...           ...
1127               Niger  2007    12894865    Africa    56.867    619.676892
1139             Nigeria  2007   135031164    Africa    46.859   2013.977305
1151              Norway  2007     4627926    Europe    80.196  49357.190170
1175            Pakistan  2007   169270617      Asia    65.483   2605.947580
1703            Zimbabwe  2007    12311143    Africa    43.487    469.709298

[1704 rows x 6 columns]

In [5]:
df.sort_values?

In [6]:
df.sort_values(['year'],ascending=False)

                country  year  population continent  life_exp        gdp_cap
1703           Zimbabwe  2007    12311143    Africa    43.487     469.709298
491   Equatorial Guinea  2007      551201    Africa    51.579   12154.089750
515            Ethiopia  2007    76511887    Africa    52.947     690.805576
527             Finland  2007     5238460    Europe    79.313   33207.084400
539              France  2007    61083916    Europe    80.657   30470.016700
...                 ...   ...         ...       ...       ...            ...
1116              Niger  1952     3379468    Africa    37.444     761.879376
1128            Nigeria  1952    33119096    Africa    36.324    1077.281856
1140             Norway  1952     3327728    Europe    72.670   10095.421720
1152               Oman  1952      507833      Asia    37.578    1828.230307
852              Kuwait  1952      160000      Asia    55.565  108382.352900

[1704 rows x 6 columns]

In [7]:
a=pd.DataFrame({"A":[10,20],
                "B":[30,40]})

b=pd.DataFrame({"A":[11,22],
                "C":[33,44]})

In [8]:
a

    A   B
0  10  30
1  20  40

In [9]:
b

    A   C
0  11  33
1  22  44

In [10]:
pd.concat([a,b])

    A     B     C
0  10  30.0   NaN
1  20  40.0   NaN
0  11   NaN  33.0
1  22   NaN  44.0

In [11]:
pd.concat([a,b],axis=1)

    A   B   A   C
0  10  30  11  33
1  20  40  22  44

In [12]:
pd.merge?

In [13]:
user=pd.DataFrame({"userId":[1,2,3],"name":["Ram","Sham","Aam"],})

In [14]:
user

   userId  name
0       1   Ram
1       2  Sham
2       3   Aam

In [15]:
msg=pd.DataFrame({"userId":[1,1,2,4],"msg":["hi","hello","hmm","kool"]})

In [16]:
msg

   userId    msg
0       1     hi
1       1  hello
2       2    hmm
3       4   kool

In [17]:
user.merge(msg,on="userId")

   userId  name    msg
0       1   Ram     hi
1       1   Ram  hello
2       2  Sham    hmm

In [18]:
pd.merge?

In [19]:
user.merge(msg,on="userId",how="outer")

   userId  name    msg
0       1   Ram     hi
1       1   Ram  hello
2       2  Sham    hmm
3       3   Aam    NaN
4       4   NaN   kool

In [20]:
user.merge(msg,on="userId",how="right")

   userId  name    msg
0       1   Ram     hi
1       1   Ram  hello
2       2  Sham    hmm
3       4   NaN   kool

In [21]:
user.merge(msg,on="userId",how="left")

   userId  name    msg
0       1   Ram     hi
1       1   Ram  hello
2       2  Sham    hmm
3       3   Aam    NaN

In [22]:
user.rename(columns={"userId":"user_ud"},inplace=True)

In [23]:
user

   user_ud  name
0        1   Ram
1        2  Sham
2        3   Aam

In [26]:
user.merge(msg,left_on="user_ud",right_on="userId")

   user_ud  name  userId    msg
0        1   Ram       1     hi
1        1   Ram       1  hello
2        2  Sham       2    hmm