<a href="https://colab.research.google.com/github/jeeet0700/Python_Advance/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/drive/MyDrive/May_Beginner_Aug_Adv/Pandas-2/gapminder.csv")
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [3]:
df.set_index("country")

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
Zimbabwe     1987     9216418    Africa    62.351  706.157306
Zimbabwe     1992    10704340    Africa    60.377  693.420786
Zimbabwe     1997    11404948    Africa    46.809  792.449960
Zimbabwe     2002    11926563    Africa    39.989  672.038623
Zimbabwe     2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [4]:
df.set_index("country",inplace=True)

In [5]:
df

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
Zimbabwe     1987     9216418    Africa    62.351  706.157306
Zimbabwe     1992    10704340    Africa    60.377  693.420786
Zimbabwe     1997    11404948    Africa    46.809  792.449960
Zimbabwe     2002    11926563    Africa    39.989  672.038623
Zimbabwe     2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [6]:
df.loc["Afghanistan"]

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
Afghanistan  1977    14880372      Asia    38.438  786.113360
Afghanistan  1982    12881816      Asia    39.854  978.011439
Afghanistan  1987    13867957      Asia    40.822  852.395945
Afghanistan  1992    16317921      Asia    41.674  649.341395
Afghanistan  1997    22227415      Asia    41.763  635.341351
Afghanistan  2002    25268405      Asia    42.129  726.734055
Afghanistan  2007    31889923      Asia    43.828  974.580338

In [7]:
df.loc["India"]

         year  population continent  life_exp      gdp_cap
country
India    1952   372000000      Asia    37.373   546.565749
India    1957   409000000      Asia    40.249   590.061996
India    1962   454000000      Asia    43.605   658.347151
India    1967   506000000      Asia    47.193   700.770611
India    1972   567000000      Asia    50.651   724.032527
India    1977   634000000      Asia    54.208   813.337323
India    1982   708000000      Asia    56.596   855.723538
India    1987   788000000      Asia    58.553   976.512676
India    1992   872000000      Asia    60.223  1164.406809
India    1997   959000000      Asia    61.765  1458.817442
India    2002  1034172547      Asia    62.879  1746.769454
India    2007  1110396331      Asia    64.698  2452.210407

In [8]:
df.iloc("India")

ValueError: ignored

In [9]:
df.reset_index(inplace=True)

In [10]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [11]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [12]:
df.index=[i for i in range(1,1705)]

In [13]:
df

          country  year  population continent  life_exp     gdp_cap
1     Afghanistan  1952     8425333      Asia    28.801  779.445314
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [14]:
df.loc[2:6]

       country  year  population continent  life_exp     gdp_cap
2  Afghanistan  1957     9240934      Asia    30.332  820.853030
3  Afghanistan  1962    10267083      Asia    31.997  853.100710
4  Afghanistan  1967    11537966      Asia    34.020  836.197138
5  Afghanistan  1972    13079460      Asia    36.088  739.981106
6  Afghanistan  1977    14880372      Asia    38.438  786.113360

In [15]:
df.iloc[2:6]

       country  year  population continent  life_exp     gdp_cap
3  Afghanistan  1962    10267083      Asia    31.997  853.100710
4  Afghanistan  1967    11537966      Asia    34.020  836.197138
5  Afghanistan  1972    13079460      Asia    36.088  739.981106
6  Afghanistan  1977    14880372      Asia    38.438  786.113360

In [16]:
df.loc[1]

country       Afghanistan
year                 1952
population        8425333
continent            Asia
life_exp           28.801
gdp_cap        779.445314
Name: 1, dtype: object

In [17]:
df.iloc[1]

country       Afghanistan
year                 1957
population        9240934
continent            Asia
life_exp           30.332
gdp_cap         820.85303
Name: 2, dtype: object

In [18]:
df.iloc[1:2]

       country  year  population continent  life_exp    gdp_cap
2  Afghanistan  1957     9240934      Asia    30.332  820.85303

In [19]:
df.loc[1:2]

       country  year  population continent  life_exp     gdp_cap
1  Afghanistan  1952     8425333      Asia    28.801  779.445314
2  Afghanistan  1957     9240934      Asia    30.332  820.853030

In [20]:
df.iloc[2:4]

       country  year  population continent  life_exp     gdp_cap
3  Afghanistan  1962    10267083      Asia    31.997  853.100710
4  Afghanistan  1967    11537966      Asia    34.020  836.197138

In [21]:
df.loc[[2,4,1700]]

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306

In [22]:
df.iloc[[2,4,1700]]

          country  year  population continent  life_exp     gdp_cap
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786

In [23]:
df.loc[[2,4,1700],["country"]]

          country
2     Afghanistan
4     Afghanistan
1700     Zimbabwe

In [24]:
df.loc[2:4,"country":"population"]

       country  year  population
2  Afghanistan  1957     9240934
3  Afghanistan  1962    10267083
4  Afghanistan  1967    11537966

In [25]:
df.iloc[2:4,"country":"population"]

TypeError: ignored

In [27]:
df.iloc[1:4,0:3]

       country  year  population
2  Afghanistan  1957     9240934
3  Afghanistan  1962    10267083
4  Afghanistan  1967    11537966