<a href="https://colab.research.google.com/github/jeeet0700/Python_Advance/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/drive/MyDrive/May_Beginner_Aug_Adv/Pandas-2/gapminder.csv")
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [ ]:
df.set_index("country")

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
Zimbabwe     1987     9216418    Africa    62.351  706.157306
Zimbabwe     1992    10704340    Africa    60.377  693.420786
Zimbabwe     1997    11404948    Africa    46.809  792.449960
Zimbabwe     2002    11926563    Africa    39.989  672.038623
Zimbabwe     2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df.set_index("country",inplace=True)

In [ ]:
df

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
Zimbabwe     1987     9216418    Africa    62.351  706.157306
Zimbabwe     1992    10704340    Africa    60.377  693.420786
Zimbabwe     1997    11404948    Africa    46.809  792.449960
Zimbabwe     2002    11926563    Africa    39.989  672.038623
Zimbabwe     2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df.loc["Afghanistan"]

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
Afghanistan  1977    14880372      Asia    38.438  786.113360
Afghanistan  1982    12881816      Asia    39.854  978.011439
Afghanistan  1987    13867957      Asia    40.822  852.395945
Afghanistan  1992    16317921      Asia    41.674  649.341395
Afghanistan  1997    22227415      Asia    41.763  635.341351
Afghanistan  2002    25268405      Asia    42.129  726.734055
Afghanistan  2007    31889923      Asia    43.828  974.580338

In [ ]:
df.loc["India"]

         year  population continent  life_exp      gdp_cap
country
India    1952   372000000      Asia    37.373   546.565749
India    1957   409000000      Asia    40.249   590.061996
India    1962   454000000      Asia    43.605   658.347151
India    1967   506000000      Asia    47.193   700.770611
India    1972   567000000      Asia    50.651   724.032527
India    1977   634000000      Asia    54.208   813.337323
India    1982   708000000      Asia    56.596   855.723538
India    1987   788000000      Asia    58.553   976.512676
India    1992   872000000      Asia    60.223  1164.406809
India    1997   959000000      Asia    61.765  1458.817442
India    2002  1034172547      Asia    62.879  1746.769454
India    2007  1110396331      Asia    64.698  2452.210407

In [ ]:
df.iloc("India")

ValueError: ignored

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [ ]:
df.index=[i for i in range(1,1705)]

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
1     Afghanistan  1952     8425333      Asia    28.801  779.445314
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.loc[2:6]

       country  year  population continent  life_exp     gdp_cap
2  Afghanistan  1957     9240934      Asia    30.332  820.853030
3  Afghanistan  1962    10267083      Asia    31.997  853.100710
4  Afghanistan  1967    11537966      Asia    34.020  836.197138
5  Afghanistan  1972    13079460      Asia    36.088  739.981106
6  Afghanistan  1977    14880372      Asia    38.438  786.113360

In [ ]:
df.iloc[2:6]

       country  year  population continent  life_exp     gdp_cap
3  Afghanistan  1962    10267083      Asia    31.997  853.100710
4  Afghanistan  1967    11537966      Asia    34.020  836.197138
5  Afghanistan  1972    13079460      Asia    36.088  739.981106
6  Afghanistan  1977    14880372      Asia    38.438  786.113360

In [ ]:
df.loc[1]

country       Afghanistan
year                 1952
population        8425333
continent            Asia
life_exp           28.801
gdp_cap        779.445314
Name: 1, dtype: object

In [ ]:
df.iloc[1]

country       Afghanistan
year                 1957
population        9240934
continent            Asia
life_exp           30.332
gdp_cap         820.85303
Name: 2, dtype: object

In [ ]:
df.iloc[1:2]

       country  year  population continent  life_exp    gdp_cap
2  Afghanistan  1957     9240934      Asia    30.332  820.85303

In [ ]:
df.loc[1:2]

       country  year  population continent  life_exp     gdp_cap
1  Afghanistan  1952     8425333      Asia    28.801  779.445314
2  Afghanistan  1957     9240934      Asia    30.332  820.853030

In [ ]:
df.iloc[2:4]

       country  year  population continent  life_exp     gdp_cap
3  Afghanistan  1962    10267083      Asia    31.997  853.100710
4  Afghanistan  1967    11537966      Asia    34.020  836.197138

In [ ]:
df.loc[[2,4,1700]]

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306

In [ ]:
df.iloc[[2,4,1700]]

          country  year  population continent  life_exp     gdp_cap
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786

In [ ]:
df.loc[[2,4,1700],["country"]]

          country
2     Afghanistan
4     Afghanistan
1700     Zimbabwe

In [ ]:
df.loc[2:4,"country":"population"]

       country  year  population
2  Afghanistan  1957     9240934
3  Afghanistan  1962    10267083
4  Afghanistan  1967    11537966

In [ ]:
df.iloc[2:4,"country":"population"]

TypeError: ignored

In [ ]:
df.iloc[1:4,0:3]

       country  year  population
2  Afghanistan  1957     9240934
3  Afghanistan  1962    10267083
4  Afghanistan  1967    11537966

In [ ]:
df.iloc[29:40]

    country  year  population continent  life_exp      gdp_cap
30  Algeria  1977    17152804    Africa    58.014  4910.416756
31  Algeria  1982    20033753    Africa    61.368  5745.160213
32  Algeria  1987    23254956    Africa    65.799  5681.358539
33  Algeria  1992    26298373    Africa    67.744  5023.216647
34  Algeria  1997    29072015    Africa    69.152  4797.295051
35  Algeria  2002    31287142    Africa    70.994  5288.040382
36  Algeria  2007    33333216    Africa    72.301  6223.367465
37   Angola  1952     4232095    Africa    30.015  3520.610273
38   Angola  1957     4561361    Africa    31.999  3827.940465
39   Angola  1962     4826015    Africa    34.000  4269.276742
40   Angola  1967     5247469    Africa    35.985  5522.776375

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
1     Afghanistan  1952     8425333      Asia    28.801  779.445314
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [3]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [4]:
len(df.index)

1704

In [5]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [8]:
df.loc[[0]]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314

In [9]:
df.iloc[[0]]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314

In [11]:
df.loc[:4]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [12]:
df.iloc[:4]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138

In [14]:
df.loc[:4,2:4]

TypeError: ignored

In [15]:
df.loc[:4,"country":"continent"]

       country  year  population continent
0  Afghanistan  1952     8425333      Asia
1  Afghanistan  1957     9240934      Asia
2  Afghanistan  1962    10267083      Asia
3  Afghanistan  1967    11537966      Asia
4  Afghanistan  1972    13079460      Asia

In [17]:
df.iloc[:4,0:4]

       country  year  population continent
0  Afghanistan  1952     8425333      Asia
1  Afghanistan  1957     9240934      Asia
2  Afghanistan  1962    10267083      Asia
3  Afghanistan  1967    11537966      Asia

In [20]:
df.loc[:10:2,"country":"life_exp":2]

        country  population  life_exp
0   Afghanistan     8425333    28.801
2   Afghanistan    10267083    31.997
4   Afghanistan    13079460    36.088
6   Afghanistan    12881816    39.854
8   Afghanistan    16317921    41.674
10  Afghanistan    25268405    42.129

In [21]:
df.iloc[:10:2,0:5:2]

       country  population  life_exp
0  Afghanistan     8425333    28.801
2  Afghanistan    10267083    31.997
4  Afghanistan    13079460    36.088
6  Afghanistan    12881816    39.854
8  Afghanistan    16317921    41.674

In [23]:
df.loc[3:10,["country","population","year"]]

        country  population  year
3   Afghanistan    11537966  1967
4   Afghanistan    13079460  1972
5   Afghanistan    14880372  1977
6   Afghanistan    12881816  1982
7   Afghanistan    13867957  1987
8   Afghanistan    16317921  1992
9   Afghanistan    22227415  1997
10  Afghanistan    25268405  2002

In [29]:
df.iloc[2:10,[0,1,2]]

       country  year  population
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460
5  Afghanistan  1977    14880372
6  Afghanistan  1982    12881816
7  Afghanistan  1987    13867957
8  Afghanistan  1992    16317921
9  Afghanistan  1997    22227415